.container {
    display: grid;
    grid-template-columns: 30% 40%;
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    color: white;
    justify-content: center;
    padding-top: 50px;

}

header{
    background-color: #ffde22;
    border-radius: 15px;
    text-align: center;
    grid-column: span 2;
}

aside{
    background-color: #ff7755;
    border-radius: 15px;
    text-align: center;
    grid-row: span 2;

}

nav{
    background-color: #00ddff;
    border-radius: 15px;
    text-align: center;

}

.article{
    background-color: #bccbde;
    border-radius: 15px;
    text-align: center;

}

footer{
    background-color: #393f4d;
    border-radius: 15px;
    text-align: center;
    grid-column: span 2;
}